.countries-svg{
    stroke: #646464;
    stroke-width: 1px;
}

.asia-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.asia-map{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.africa-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.africa-map{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.europe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.europe-map{
    display: flex;
    justify-content: center; 
    margin-top: 100px; 
}

.oceania-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.oceania-map{
    display: flex;
    justify-content: center;
    margin-top: 100px;  
}


.north-america-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.north-america-map{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.south-america-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.south-america-map{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.backBtn-box{
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:19;
    left:19;
    margin-top: 100px;
    align-items: center;
    cursor: pointer;
}


.fa{
    height: 40px;
    width: 45px;
    color: #383838;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    padding: 3px 18px;
    background: linear-gradient(#07ffb0, #4caf50);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

i.fa{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.europe:hover{
    fill: #482ac0;
    transition: .4s ease;
}

.oceania:hover{
    fill: #8d1f52;
    transition: .4s ease;
}

.africa:hover{
    fill: #c85937;
    transition: .4s ease;
}

.asia:hover{
    fill: #b5a02d;;
    transition: .4s ease;
}

.north:hover{
    fill: #a81414;	
    transition: .4s ease;
}

.south:hover{
    fill: #187218;
    transition: .4s ease;
}