.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.innerbox{
    width: 400px;
    height: 400px;
    background-color: #F5F5DC;
    border-radius: 5px;
    text-align: center;
    border: solid blue 5px;
}


.name{
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
}

.stat{
    font-size: 20px;
}

.continent-box{
    display: none;
}

// .asia{
//     display: none;
// }

// .oceania{
//     display: none;
// }

// .europe{
//     display: none;
// }

// .africa{
//     display: none;
// }

// .north-america{
//     display: none;
// }

// .south-america{
//     display: none;
// }

// path:nth-child(1):hover .europe {
//     display: block;
// }
