div.container{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    stroke: #646464;
    stroke-width: 1px;
}

path {
    cursor: pointer;
}

#europe{
    fill: #5D3FD3;
}

#oceania{
    fill: #AA336A;
}

#africa{
    fill:#E97451;
}

#asia{
    fill: #FFD700;
}

#north-america{
    fill: #D22B2B;	
}

#south-america{
    fill: #228B22;
}

path:hover{
    transform: scale(1.01);
}

#tooltip {
    position: absolute;
    font-size: 18px;
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}