div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #646464;
    stroke-width: 1px;
    height: 100%;
}

.world-map{
    margin-top: 50;
}

path {
    cursor: pointer;
}

#europe{
    fill: #5D3FD3;
}

#oceania{
    fill: #AA336A;
}

#africa{
    fill:#E97451;
}

#asia{
    fill: #FFD700;
}

#north-america{
    fill: #D22B2B;	
}

#south-america{
    fill: #228B22;
}

path#europe.continent:hover{
    fill: #482ac0;
    transition: .4s ease;
}

path#oceania.continent:hover{
    fill: #8d1f52;
    transition: .4s ease;
}

path#africa.continent:hover{
    fill: #c85937;
    transition: .4s ease;
}

path#asia.continent:hover{
    fill: #b5a02d;;
    transition: .4s ease;
}

path#north-america.continent:hover{
    fill: #a81414;	
    transition: .4s ease;
}

path#south-america.continent:hover{
    fill: #187218;
    transition: .4s ease;
}

#tooltip {
    position: absolute;
    font-size: 18px;
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}